body{
    background-color: #ddd;
}

main{
    background-color: #FFFFFF;

    width: 60%;
    margin: 50px 400px;
    padding: 25px 50px;
    border-radius: 10px;
}

section{
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.5;

    text-align: left;
    border-top: 2px solid rgb(202, 202, 202);

}

h1, h2{

    color: rgb(140, 76, 8);
    margin-top: 3px;

}